<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    	<meta http-equiv="Content-Language" content="pl" />
    	<title>{{ title }}</title> 
    	{% for css in template_css %}
    		<link href="/css/{{css}}" rel="stylesheet" type="text/css" media="screen" /> 
    	{% endfor %}
	</head>
	<body>
		<div class="LayoutGrid">
			<div class="sitenav">
				<div id="SiteHeader">
					<div class="SiteHeaderBar">
						<a href="/sync" class="SiteHeaderBarItem SiteHeaderBarLink">Sync</a>
						<a href="/solutions" class="SiteHeaderBarItem SiteHeaderBarLink">Solutions</a>
						<div style="clear:both;"></div>
					</div>
				</div>
			</div><div style="clear:both;"></div>
			{% include template_name %}
			<div style="clear:both;"></div>
		</div>
	</body>
</html>