<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="Content-Language" content="pl" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Bot</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li{%if _activeTab == 'index'%} class="active"{%endif%}><a href="/">Home</a></li>
              {%if _currentUser.aclRole in ['admin','owner']%}
				        <li{%if _activeTab == 'admin'%} class="active"{%endif%}><a href="/admin">Admin</a></li>
              {%endif%}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">{%include _template%}</div>
  </body>
</html>
