<div id="chatApp"></div>
<div id="more"></div>

<!-- Template -->
<script type="text/template" id="menu-template">
	Ostatnie wiadomości:<br />
	<!--
	<div class="chat-label">Pokaż z:</div>
	<div class="btn-group">
		<a class="btn{% ifequal button_ac "dzis" %} active {% endifequal %}" href="/chats/dzis">Dziś</a>
		<a class="btn{% ifequal button_ac "wczoraj" %} active {% endifequal %}" href="/chats/wczoraj">Wczoraj</a>
		<a class="btn{% ifequal button_ac "dzien" %} active {% endifequal %}" href="#">Wybierz dzień</a>
		</div>
		<br clear="all"/>
 	-->
	</script>

	<!-- Chat message -->
	<script type="text/template" id="item-template">
		<div class="incoming">
			<div class="header">
				<div class="left"></div>
				<div class="right"></div>

				<div class="sender"><%- author %></div>
			</div>
			<div class="messages">
				<%= messages %>
			</div>
			<div class="bottom">
				<div class="left"></div>
				<div class="right"></div>
			</div>
		</div>
	</script>

	<script type="text/template" id="more-template">
		<!--
		<a id="load-more" href="javascript:void(null);">more</a>
		-->
	</script>

	<script type="text/template" id="message-template">
		<div>
			<div>
				<span class="time"><%- time%></span>
				<p class="message"><%- body %></p>
				<div id="insert"></div>
			</div>
		</div>
	</script>


	<script type="text/javascript">
		var chatsItems = {{chats}};
	</script>