
<h1>Witaj {{jid}}</h1>
<p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
<br />
<a href="{{logoutURL}}">logout</a>
<br /><br />

This configuration makes the newest supported version of Jinja2 available to your application. To avoid possible compatibility issues, serious applications should use an <a href="https://developers.google.com/appengine/docs/python/tools/libraries27">actual version number rather than latest</a>.
