<form action="/solutions/add" method="post">
	Tytuł: <input type="text" value="{{ post.title|escape }}" name="title" />{% if errors.title %}<span class="form_error">{{errors.title}}</span>{% endif %}<br />
	Kod: <textarea name="body" cols="60" rows="20">{{ post.body|escape }}</textarea>{% if errors.body %}<span class="form_error">{{errors.body}}</span>{% endif %}<br />
	Język: <select name="language">
		<option value="2" {% ifequal post.language "2" %}selected="selected"{% endifequal %}>PHP</option>
		<option value="3" {% ifequal post.language "3" %}selected="selected"{% endifequal %}>Java Script</option>
		<option value="4" {% ifequal post.language "4" %}selected="selected"{% endifequal %}>Action Script</option>
		<option value="1" {% ifequal post.language "1" %}selected="selected"{% endifequal %}>Inny</option>
	</select><br />
	<input type="submit" value="Dodaj" />
</form>